<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning vue</title>
</head>
<body>
    <h1>Hello vue</h1>

    <div id="app">
        <!-- Attribute binding -->
        <!-- <a :href="url">The Best Website</a> -->

        <div v-if="showBook">
            <ul>
                <li v-for="book in books" style="list-style: none;">
                    <img :src="book.image" :alt="book.title" width="250">
                    <h3>
                        {{ book.title }}
                    </h3>
                    <p>
                        {{ book.author }}
                    </p>
                </li>
            </ul>

        </div>
        <button @click="toggleShowBook">
            <span v-if="showBook">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

    </div>

</body>
<script src="https://unpkg.com/vue@3"></script>
<script src="./app.js"></script>
</html>