<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning vue</title>
</head>
<body>
    <h1>Hello vue</h1>

    <div id="app">
        <div v-if="showBook">
            <p>
                {{ title }} - {{ author }} - {{ age }}
            </p>
        </div>
        <button @click="toggleShowBook">
            <span v-if="showBook">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBook">Current Showing Books</div>
    </div>

</body>
<script src="https://unpkg.com/vue@3"></script>
<script src="./app.js"></script>
</html>